.location{
	border-bottom: 1px solid $gray;
	padding-bottom: 10px;
}
.dashboard-content{
	padding-top: 35px;

}
.pg-header{
	height: 65px;
}
.page-header-btn {
    padding-top: 15px;
    text-align: right;
    padding: 0;
}
.location-header{
		h2{
		padding-left: 0 !important;
	}
}